body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:14px;
  top:674px;
  width:496px;
  height:46px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:46px;
}
#u1 {
  position:absolute;
  left:2px;
  top:15px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:95px;
  top:990px;
  width:150px;
  height:150px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u3 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:95px;
  top:520px;
  width:368px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u4_input {
  font-family:'Applied Font';
}
#u5 {
  position:absolute;
  left:14px;
  top:524px;
  width:71px;
  height:16px;
  text-align:right;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:20px;
  top:114px;
  width:66px;
  height:16px;
  text-align:right;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:95px;
  top:155px;
  width:368px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u9_input {
  font-family:'Applied Font';
}
#u10 {
  position:absolute;
  left:20px;
  top:63px;
  width:73px;
  height:25px;
  font-size:18px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u11 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:20px;
  top:86px;
  width:900px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:883px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:900px;
  height:1px;
}
#u13 {
  position:absolute;
  left:86px;
  top:117px;
  width:834px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:817px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:834px;
  height:1px;
}
#u14 {
  position:absolute;
  left:14px;
  top:159px;
  width:71px;
  height:16px;
  text-align:right;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:97px;
  top:180px;
  width:92px;
  height:16px;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:16px;
  top:220px;
  width:69px;
  height:16px;
  text-align:right;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:85px;
  top:216px;
  width:197px;
  height:184px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:184px;
}
#u21 {
  position:absolute;
  left:2px;
  top:84px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:95px;
  top:400px;
  width:367px;
  height:16px;
  text-align:right;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:14px;
  top:427px;
  width:70px;
  height:23px;
  text-align:right;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:94px;
  top:426px;
  width:100px;
  height:22px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26_input {
  font-family:'Applied Font';
}
#u27 {
  position:absolute;
  left:14px;
  top:579px;
  width:56px;
  height:23px;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:23px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:94px;
  top:580px;
  width:100px;
  height:22px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u29_input {
  font-family:'Applied Font';
}
#u30 {
  position:absolute;
  left:48px;
  top:524px;
  width:662px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:645px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:662px;
  height:1px;
}
#u31 {
  position:absolute;
  left:710px;
  top:513px;
  width:181px;
  height:32px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:32px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:95px;
  top:465px;
  width:368px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u33_input {
  font-family:'Applied Font';
}
#u34 {
  position:absolute;
  left:14px;
  top:469px;
  width:71px;
  height:16px;
  text-align:right;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:463px;
  top:524px;
  width:14px;
  height:16px;
  text-align:right;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:95px;
  top:625px;
  width:368px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u38_input {
  font-family:'Applied Font';
}
#u39 {
  position:absolute;
  left:14px;
  top:629px;
  width:71px;
  height:16px;
  text-align:right;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:95px;
  top:685px;
  width:368px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u41_input {
  font-family:'Applied Font';
}
#u42 {
  position:absolute;
  left:14px;
  top:689px;
  width:71px;
  height:16px;
  text-align:right;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:95px;
  top:745px;
  width:65px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u44_input {
  font-family:'Applied Font';
}
#u45 {
  position:absolute;
  left:14px;
  top:749px;
  width:71px;
  height:16px;
  text-align:right;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:170px;
  top:752px;
  width:14px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:14px;
  height:1px;
}
#u48 {
  position:absolute;
  left:194px;
  top:744px;
  width:269px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u48_input {
  font-family:'Applied Font';
}
#u49 {
  position:absolute;
  left:95px;
  top:770px;
  width:211px;
  height:16px;
  text-align:right;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:194px;
  top:1106px;
  width:516px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:499px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:516px;
  height:1px;
}
#u52 {
  position:absolute;
  left:720px;
  top:749px;
  width:198px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:95px;
  top:810px;
  width:368px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u54_input {
  font-family:'Applied Font';
}
#u55 {
  position:absolute;
  left:14px;
  top:814px;
  width:71px;
  height:16px;
  text-align:right;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:95px;
  top:860px;
  width:375px;
  height:120px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:120px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u57_input {
  font-family:'Applied Font';
}
#u58 {
  position:absolute;
  left:14px;
  top:864px;
  width:71px;
  height:16px;
  text-align:right;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:14px;
  top:990px;
  width:71px;
  height:16px;
  text-align:right;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:98px;
  top:1140px;
  width:162px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:227px;
  top:990px;
  width:18px;
  height:26px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:26px;
}
#u65 {
  position:absolute;
  left:2px;
  top:5px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:20px;
  top:1364px;
  width:79px;
  height:16px;
  text-align:right;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:109px;
  top:1367px;
  width:811px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:794px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:811px;
  height:1px;
}
#u69 {
  position:absolute;
  left:14px;
  top:1420px;
  width:370px;
  height:410px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:410px;
}
#u70 {
  position:absolute;
  left:2px;
  top:197px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:544px;
  top:964px;
  width:27px;
  height:16px;
  text-align:right;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:129px;
  top:755px;
  width:581px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:564px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:581px;
  height:1px;
}
#u74 {
  position:absolute;
  left:95px;
  top:1180px;
  width:150px;
  height:150px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u75 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:14px;
  top:1180px;
  width:71px;
  height:16px;
  text-align:right;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:14px;
  top:990px;
  width:496px;
  height:166px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:166px;
}
#u79 {
  position:absolute;
  left:2px;
  top:75px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:720px;
  top:685px;
  width:200px;
  height:16px;
  color:#FF0000;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:490px;
  top:691px;
  width:220px;
  height:10px;
}
#u82_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_end {
  position:absolute;
  left:203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u83 {
  position:absolute;
  left:720px;
  top:1103px;
  width:53px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
