<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title> 404 </title>
        <script type="text/javascript">      
            var $$c = {
                staticUrl: "http://res.shangquanquan.com", //静态资源地址
                uploadUrl : 'http://v0.api.upyun.com/sqqimg',//图片上传的url前缀 
                resHost: 'http://sqqimg.b0.upaiyun.com', //图片上传完的url前缀
                domain: 'http://res.shangquanquan.com/static/images', //网站主域名
                debug: true
            };
        </script>
        <!--[if lt IE 9]>
          <script src="http://res.shangquanquan.com/static/js/html5shiv.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="http://res.shangquanquan.com/static/css/one.css">
        <link rel="stylesheet" href="http://res.shangquanquan.com/static/css/style.css">
        <link rel="stylesheet" href="http://res.shangquanquan.com/static/css/padmin/error/error.css">
    </head>
    <body class="info-detail" quick-markup_injected="true" style="" ryt14847="1">
        <div id="wrap">
            <div id="main" class="clearfix">
                <div class="m-error">                
                    <div class="m-error-img clearfix">
                        <p class="fn-right">40<span>4</span></p>
                    </div>
                    <div class="text-cell">
                        <h3>抱歉，<span>您访问的页面不存在!</span></h3>
                        <h4>ERROR...PAGE NOT FOUND</h4>
                    </div>          
                </div>
            </div>
        </div>
        <script src="http://res.shangquanquan.com/static/js/sea.js"></script>
        <script src="http://res.shangquanquan.com/static/js/config.js"></script>
        <script src="http://res.shangquanquan.com/static/js/jquery.js"></script>
        <script src="http://res.shangquanquan.com/static/js/widget.js"></script>
        <script src="http://res.shangquanquan.com/static/js/padmin/error/error.js"></script>
    </body>
</html>