<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <title> 500 </title>
        <script type="text/javascript">
        var $$c = {
            staticUrl: "http://res.shangquanquan.com", //静态资源地址
            uploadUrl : 'http://v0.api.upyun.com/sqqimg',//图片上传的url前缀 
            resHost: 'http://sqqimg.b0.upaiyun.com', //图片上传完的url前缀
            domain: 'http://res.shangquanquan.com/static/images', //网站主域名
            debug: true
        };
        </script>
        <!--[if lt IE 9]>
          <script src="http://res.shangquanquan.com/static/js/html5shiv.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="http://res.shangquanquan.com/static/css/one.css">
        <link rel="stylesheet" href="http://res.shangquanquan.com/static/css/style.css">
        <link rel="stylesheet" href="http://res.shangquanquan.com/static/css/padmin/error/error.css">
    </head>
    <body class="info-detail">
        <div id="wrap">
        	<div id="main" class="clearfix">
                <div class="m-error">                
                    <div class="m-error-img clearfix">
                        <p class="fn-right">50<span>0</span></p>
                    </div>
                    <div class="text-cell">
                        <h3>抱歉！<span>服务器出错了,但有人在修理了。</span></h3>
                        <h4></h4>
                    </div>
                </div>
    		</div>
    	</div>
    <script src="http://res.shangquanquan.com/static/js/sea.js"></script>
    <script src="http://res.shangquanquan.com/static/js/config.js"></script>
    <script src="http://res.shangquanquan.com/static/js/jquery.js"></script>
    <script src="http://res.shangquanquan.com/static/js/widget.js"></script>
    <script src="http://res.shangquanquan.com/static/js/padmin/error/error.js"></script>
    </body>
</html>