<% include ../../common/header.ejs %>
<body class="error-pendingaudit">
<% include ../../common/h5-header.ejs %>
<% include ../../common/header_menu.ejs %>
<div id="wrap">
    <div id="main" class="clearfix">
        <div id="content" class="content">
            <div class="ui-grid-row">
                <div class="ui-grid-5 asidenav">
                    <%include ../includes/sidebar.ejs%></div>
                <div class="ui-grid-20">
                    <div class="m-welcome">
                        <h3>欢迎使用</h3>
                        <p>汉阳人信汇商管营销管理后台系统</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../common/script_footer.ejs %>
<% include ../../common/footer.ejs %>