<% include ../../common/header.ejs %>
<link rel="stylesheet" href="<%=staticUrl%>/static/css/padmin/data/hot.css">
</head>
<body class="data-hot">
<% include ../../common/h5-header.ejs %>
<% include ../../common/header_menu.ejs %>
<div id="wrap">
    <div id="main" class="clearfix">
        <div id="content" class="content">
            <div class="ui-grid-row">
                <div class="ui-grid-5 asidenav"><%include ../includes/sidebar.ejs%></div>
                <div class="ui-grid-20">
                    <div class="main">
                        <div class="ui-block ui-block-title"><div class="loading" style="display: none;">努力加载中.......</div>
							<div class="ui-title ui-title-line fn-clear">
                                <h3>客流密度分析</h3>
                            </div>
							<div class="search-code">
                                <form method="get" action="">
                                    <div class="search-code">
										楼层：
										<select id="j_forFloor" name="">
											<option value="">1楼</option>
											<option value="">2楼</option>
										</select>
                                        日期：
                                        <input placeholder="请选择日期" class="ui-input ui-calendar-icon" type="text" id="j_searchTime1" value="" name="" />
										时段：
										<select id="j_forHour" name="">
											<option value="">01</option>
											<option value="">02</option>
											<option value="">03</option>
											<option value="">04</option>
											<option value="">05</option>
											<option value="">06</option>
											<option value="">07</option>
											<option value="">08</option>
											<option value="">09</option>
											<option value="">10</option>
											<option value="">11</option>
											<option value="">12</option>
										</select>
                                        <input type="submit" class="ui-button ui-button-morange" value="查看" />
                                    </div>
                                </form>
                            </div>
                            <div class="m-main">
                                <div id="contain" style="width:800px;">
									<div id="heatmapbox">
										<img src="<%=staticUrl%>/static/images/floormap/862400010040300002-B1-0.jpg">
										<div id="heatmap"></div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../common/script_footer.ejs %>
<script src="<%=staticUrl%>/static/js/padmin/p/heatmap.js"></script>
<script src="<%=staticUrl%>/static/js/padmin/data/hot.js"></script>
<% include ../../common/footer.ejs %>