body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:24px;
  top:14px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:34px;
  top:139px;
  width:300px;
  height:164px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:164px;
}
#u3 {
  position:absolute;
  left:2px;
  top:74px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:34px;
  top:113px;
  width:300px;
  height:150px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u5 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:24px;
  top:14px;
  width:320px;
  height:40px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:92px;
  top:26px;
  width:200px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:70px;
  top:454px;
  width:92px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:162px;
  top:454px;
  width:92px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:252px;
  top:454px;
  width:92px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:134px;
  top:64px;
  width:90px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:252px;
  top:414px;
  width:93px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u18_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:103px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:34px;
  top:263px;
  width:300px;
  height:46px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
}
#u21 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:44px;
  top:279px;
  width:140px;
  height:14px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:34px;
  top:203px;
  width:300px;
  height:45px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:44px;
  top:209px;
  width:190px;
  height:14px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:14px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:44px;
  top:228px;
  width:215px;
  height:14px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:14px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:288px;
  top:267px;
  width:40px;
  height:37px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:37px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:34px;
  top:308px;
  width:300px;
  height:46px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
}
#u33 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:44px;
  top:324px;
  width:140px;
  height:14px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:288px;
  top:312px;
  width:40px;
  height:37px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:37px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:34px;
  top:353px;
  width:300px;
  height:46px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
}
#u39 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:44px;
  top:369px;
  width:140px;
  height:14px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:324px;
  top:374px;
  width:256px;
  height:-24px;
}
#u42_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:154px;
  height:20px;
}
#u42_seg1 {
  position:absolute;
  left:130px;
  top:-36px;
  width:20px;
  height:46px;
}
#u42_seg2 {
  position:absolute;
  left:130px;
  top:-36px;
  width:136px;
  height:20px;
}
#u42_seg3 {
  position:absolute;
  left:246px;
  top:-36px;
  width:20px;
  height:16px;
}
#u43 {
  position:absolute;
  left:90px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:34px;
  top:514px;
  width:294px;
  height:156px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#FF6600;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:156px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:590px;
  top:18px;
  width:320px;
  height:692px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:692px;
}
#u47 {
  position:absolute;
  left:2px;
  top:338px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:590px;
  top:18px;
  width:320px;
  height:40px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:620px;
  top:24px;
  width:29px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:659px;
  top:30px;
  width:200px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:590px;
  top:58px;
  width:320px;
  height:64px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u55 {
  position:absolute;
  left:15px;
  top:22px;
  width:303px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:600px;
  top:132px;
  width:300px;
  height:178px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:178px;
}
#u57 {
  position:absolute;
  left:2px;
  top:81px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:600px;
  top:321px;
  width:300px;
  height:178px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:178px;
}
#u59 {
  position:absolute;
  left:2px;
  top:81px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:980px;
  top:18px;
  width:320px;
  height:540px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:540px;
}
#u61 {
  position:absolute;
  left:2px;
  top:262px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:980px;
  top:18px;
  width:320px;
  height:40px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u63 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1010px;
  top:24px;
  width:29px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:1049px;
  top:30px;
  width:200px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:980px;
  top:58px;
  width:320px;
  height:64px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u69 {
  position:absolute;
  left:15px;
  top:22px;
  width:303px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1048px;
  top:250px;
  width:181px;
  height:21px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:21px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:1052px;
  top:298px;
  width:172px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:40px;
}
#u73 {
  position:absolute;
  left:2px;
  top:12px;
  width:168px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:600px;
  top:517px;
  width:300px;
  height:178px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:178px;
}
#u75 {
  position:absolute;
  left:2px;
  top:81px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:796px;
  top:68px;
  width:104px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u77 {
  position:absolute;
  left:5px;
  top:13px;
  width:94px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:796px;
  top:108px;
  width:104px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#666666;
  text-align:left;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u79 {
  position:absolute;
  left:5px;
  top:14px;
  width:94px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:796px;
  top:148px;
  width:104px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#666666;
  text-align:left;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u81 {
  position:absolute;
  left:5px;
  top:14px;
  width:94px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:830px;
  top:320px;
  width:68px;
  height:67px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:67px;
}
#u83 {
  position:absolute;
  left:-12px;
  top:26px;
  width:91px;
  visibility:hidden;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:46px 7.5px;
  -ms-transform-origin:46px 7.5px;
  -moz-transform-origin:46px 7.5px;
  -webkit-transform-origin:46px 7.5px;
}
#u84 {
  position:absolute;
  left:898px;
  top:300px;
  width:18px;
  height:19px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u85 {
  position:absolute;
  left:-2px;
  top:2px;
  width:22px;
  visibility:hidden;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:11px 7.5px;
  -ms-transform-origin:11px 7.5px;
  -moz-transform-origin:11px 7.5px;
  -webkit-transform-origin:11px 7.5px;
}
#u86 {
  position:absolute;
  left:833px;
  top:517px;
  width:67px;
  height:67px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u87 {
  position:absolute;
  left:-12px;
  top:26px;
  width:91px;
  visibility:hidden;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:45.5px 7.5px;
  -ms-transform-origin:45.5px 7.5px;
  -moz-transform-origin:45.5px 7.5px;
  -webkit-transform-origin:45.5px 7.5px;
}
#u88 {
  position:absolute;
  left:897px;
  top:300px;
  width:19px;
  height:19px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u89 {
  position:absolute;
  left:-2px;
  top:2px;
  width:23px;
  visibility:hidden;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:11.5px 7.5px;
  -ms-transform-origin:11.5px 7.5px;
  -moz-transform-origin:11.5px 7.5px;
  -webkit-transform-origin:11.5px 7.5px;
}
