<!-- 信息上架时间 -->
<div class="ui-form-item shelf-time ui-multi-line-radio">
    <label for="" class="ui-label"><span class="ui-form-required">*</span>上架时间</label>
    <ul>
        <li><input type="radio" id="self_time" name="self_time"><label for="self_time">立刻</label></li>
        <li><input type="radio" id="set_date_radio" name="self_time"><label for="setDate">设定</label><input id="setDate" class="ui-input-multi ui-input-large"  type="text"></li>
        <li><input type="radio" name="self_time" id="off_shelf"><label for="off_shelf">暂时发布为下架状态</label></li>
    </ul>
</div>