<dl>
  <dt><i class="s-icon icon-eye"></i><span>优惠券管理</span><i class="s-icon icon-drop-arrow"></i></dt>
  <dd class="side-current">
    <a href="">创建优惠券</a>
  </dd>
  <dd>
    <a href="">优惠券查询</a>
  </dd>
  <dd>
    <a href="">券核销统计</a>
  </dd>
</dl>
<dl>
  <dt><i class="s-icon icon-star"></i><span>活动管理</span><i class="s-icon icon-drop-arrow"></i></dt>
  <dd>
    <a href="">创建活动</a>
  </dd>
  <dd>
    <a href="">活动查询</a>
  </dd>
</dl>