<% include ../../common/header.ejs %>
<link rel="stylesheet" href="<%=staticUrl%>/static/css/padmin/member/detail.css">
</head>
<body class="member-detail">
<% include ../../common/h5-header.ejs %>
<% include ../../common/header_menu.ejs %>
    <div id="wrap">
    	<div id="main" class="clearfix">
            <div id="content" class="content">
                <div class="ui-grid-row">
                    <div class="ui-grid-5 asidenav">
                        <%include ../includes/sidebar.ejs%>
                    </div>
                    <div class="ui-grid-20">
                        <div class="main">
                            <div class="ui-block ui-block-title">
                                <div class="ui-title ui-title-line fn-clear">
                                    <h3>会员资料详情</h3>
                                </div>
                            </div>
                            <div class="ui-block ui-block-fortitle fn-clear">
                                <h4>账号信息</h4>
                            </div>
                            <hr />
                            <fieldset>
                                <div class="abc_detail fn-clear">
                                    <div class="leftfaceimg"><img src="<%=staticUrl%>/static/images/tmp/quan.jpg" alt="" title="" /></div>
                                    <div class="right-msg">
                                        <div class="ui-form-item">
                                            <label for="" class="ui-label">会员昵称:</label>
                                            <p class="ui-form-text">轻刀绿意</p>
                                        </div>
                                        <div class="ui-form-item">
                                            <label for="" class="ui-label">会员手机:</label>
                                            <p class="ui-form-text">13787823787</p>
                                        </div>
                                        <div class="ui-form-item">
                                            <label for="" class="ui-label">当前积分:</label>
                                            <p class="ui-form-text">220分</p>
                                        </div>
                                        <div class="ui-form-item">
                                            <label for="" class="ui-label">注册时间:</label>
                                            <p class="ui-form-text">2014-5-19 17:26:12</p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="ui-block ui-block-fortitle fn-clear">
                                <h4>基本信息</h4>
                            </div>
                            <hr />
                            <fieldset>
                                <div class="ui-form-item">
                                    <label for="" class="ui-label">会员姓名:</label>
                                    <p class="ui-form-text">王小亚</p>
                                </div>
                                <div class="ui-form-item">
                                    <label for="" class="ui-label">性别:</label>
                                    <p class="ui-form-text">男</p>
                                </div>
                                <div class="ui-form-item">
                                    <label for="" class="ui-label">出生日期:</label>
                                    <p class="ui-form-text">1990年5月19日</p>
                                </div>
                                <div class="ui-form-item">
                                    <label for="" class="ui-label">生活地区:</label>
                                    <p class="ui-form-text">无</p>
                                </div>
                                <div class="ui-form-item">
                                    <label for="" class="ui-label">邮政编码:</label>
                                    <p class="ui-form-text">230001</p>
                                </div>
                                <div class="ui-form-item">
                                    <label for="" class="ui-label">收货地址:</label>
                                    <p class="ui-form-text">湖北省武汉市汉阳区青莲洼大道38号好心人小区8号楼2单元202室</p>      
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
<% include ../../common/script_footer.ejs %>
<script src="<%=staticUrl%>/static/js/padmin/member/detail.js"></script>
<% include ../../common/footer.ejs %>