<% include ../../common/header.ejs %>
<link rel="stylesheet" href="<%=staticUrl%>/static/css/padmin/configure/manage2.css">
</head>
<body class="configure-manage2">
<% include ../../common/h5-header.ejs %>
<% include ../../common/header_menu.ejs %>
    <div id="wrap">
    	<div id="main" class="clearfix">
            <div id="content" class="content">
                <div class="ui-grid-row">
                    <div class="ui-grid-5 asidenav">
                        <%include ../includes/sidebar.ejs%>
                    </div>
                    <div class="ui-grid-20">
                        <div class="main">
                            <div class="ui-block ui-block-title">
                                <div class="ui-title ui-title-line fn-clear">
                                    <h3>配置管理</h3>
                                </div>
                            </div>
                            <div class="m-tab1">
                                <a href="#">消息类型</a>
                                <a href="#" class="on">消息模板</a>
                                <a href="#">商场业态</a>
                                <a href="#">活动标签</a>
                                <a href="#">部门配置</a>
                            </div>
                            <form class="ui-form" name="" onsubmit="return false;">
                                <div class="ui-box-content">系统消息内容模版</div>
                                <table class="ui-table" id="tblList">
                                    <tbody>
                                        <tr>
                                            <th>系统消息</th>
                                            <th>消息主题</th>
                                            <th>发送渠道</th>
                                            <th class="hand">内容操作</th>
                                        </tr>
                                        <tr class="ui-table-split">
                                            <td>注册成功</td>
                                            <th></th>
                                            <th>站内信</th>
                                            <td class="hand">
                                                <a class="ui-button ui-button-mwhite" href="#">查看</a>
                                                <a class="ui-button ui-button-mwhite" href="#">编辑</a>
                                                <input type="button" class="ui-button ui-button-mwhite j-delete-tr" value="删除">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </form>
                            <div class="ui-box-content">
                                <input type="button" class="ui-button ui-button-sorange" id="jAddNextTr" value="添加" />
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
		</div>
	</div>
<% include ../../common/script_footer.ejs %>
<script src="<%=staticUrl%>/static/js/padmin/configure/manage2.js"></script>
<% include ../../common/footer.ejs %>