<% include ../../common/header.ejs %>
<link rel="stylesheet" href="<%=staticUrl%>/static/css/padmin/busimanage/busiquery.css"></head>
<body class="busimanage-busiquery">
<% include ../../common/h5-header.ejs %>
<% include ../../common/header_menu.ejs %>
    <div id="wrap">
        <div id="main" class="clearfix">
            <div id="content" class="content">
                <div class="ui-grid-row">
                    <div class="ui-grid-5 asidenav"><%include ../includes/sidebar.ejs%></div>
                    <div class="ui-grid-20">
                        <div class="main">
                            <div class="ui-block ui-block-title">
                                <div class="ui-title ui-title-line fn-clear">
                                    <h3>商户查询</h3>
                                </div>
                            </div>
                            <div class="search-code">
                                <form method="get" action="">
                                    <div class="search-code">
                                           用户名称：
                                        <input placeholder="券名称" class="ui-input ui-input-large" type="text" value="" name="">
                                            业态类型：
                                        <select id="qtype" name="">
                                            <option value="0" selected>全部类型</option>
                                        </select>
                                            楼层分布:
                                        <select id="qstate" name="">
                                            <option value="0" selected>全部楼层</option>
                                            <option value="1" selected>B1层</option>
                                            <option value="2" selected>一层</option>
                                            <option value="3" selected>二层</option>
                                            <option value="4" selected>三层</option>
                                            <option value="5" selected>四层</option>
                                        </select>
                                        <input type="submit" class="ui-button ui-button-lorange" value="查询" />
                                    </div>
                                </form>
                            </div>
                            <p>统计：565个商户。</p>
                            <table class="ui-table" id="tblList">
                                <thead>
                                    <tr>
                                        <th >序号</th>
                                        <th>商户名称</th>
                                        <th>业态类型</th>
                                        <th>楼层</th>
                                        <th>位置</th>
                                        <th>创建人</th>
                                        <th>创建日期</th>
                                        <th class="hand">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><a href="#">商户名称1</a></td>
                                        <td></td>
                                        <td>三层</td>
                                        <td>321</td>
                                        <td>谭琪琪</td>
                                        <td>2014-3-26</td>
                                        <td class="hand hand6 "><input type="button" class="ui-button ui-button-sorange" value="编辑"></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><a href="#">商户名称2</a></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="hand hand6 "><input type="button" class="ui-button ui-button-sorange" value="编辑"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- //分页 -->
                            <div class="pager">
                                <% include ../../common/pager.ejs %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ../../common/script_footer.ejs %>
<script src="<%=staticUrl%>/static/js/padmin/busimanage/busiquery.js"></script>
<% include ../../common/footer.ejs %>