<footer>
<div class="ui-footer fn-clear" coor="footer">
    <div class="ui-footer-ctn">
        <div class="ui-footer-link">
            服务电话：010-88888888 
            <em class="ui-separator">|</em>
            服务邮箱： yx-service@shangquanquan.com
            <em class="ui-separator">|</em>
            关注万江龙微信服务号：wanjianglong
            <p>
            ©2014 武汉万江龙网络有限公司  鄂ICP证030173号
            </p>

            <!-- 
            <a seed="foot-9" href="javascript:;" title="开放平台" target="_blank">开放平台</a>
            <em class="ui-separator">|</em>
            <a seed="foot-7" href="javascript:;" title="International Business" target="_blank">International Business</a>
            <em class="ui-separator">|</em>
            <a seed="foot-8" href="javascript:;" title="About Alipay" target="_blank">About Alipay</a>
            <div class="ui-footer-copyright">

                <div class="copyright">
                    支付宝版权所有 2004-2014
                    <a href="javascript:;" target="_blank">ICP证：浙B2-20100257</a>
                </div>
            </div> -->
        </div>
        <div class="footer-wx">
            <img src="<%=staticUrl%>/static/images/weixin.png" alt="">
            <p>关注万江龙微信服务号</p>
        </div>
    </div>
</div>
</footer>
</body>
</html>