<div class="ui-form-item">
    <label for="uploadImg2" class="ui-label"><span class="ui-form-required">*</span>图片</label>
    <ul class="m-upload fn-clear" id="uploadImg2">
       <li class="btn-upload">
           <img id="uploader-2" src="/static/images/upload.png" alt="点击上传">
       </li>
    </ul>
    <!-- <div class="uploaded-thumb">
        <ul id="uploadedImg">
            <%for(var i = 0; i <8;i++) {%>
            <li>
                
            </li>
            <%}%>
        </ul>
    </div> -->
    <p class="ui-form-explain">文件大小不超过500k。</p>
</div>