<header>
    <div class="global-top-a">
        <div class="global-top-container">
            <div class="global-logo">
                <a href="" seed="global-logo" title=""><img src="<%= staticUrl%>/static/images/logo.png" alt=""><span class="separate"></span><span class="global-plat"><%=plat%></span></a>
            </div>
            <ul class="global-top-right">
                <li class="global-top-item">
                    <!-- <em class="global-top-item global-top-seperator">|</em> -->
                    <a href="" target="_blank">N懒咪的帐号</a><i class="iconfont" title="下三角形"></i><a href="">退出</a><em class="global-top-item global-top-seperator">|</em>
                </li>
                <li>
                    <a href="">安全中心</a><em class="global-top-item global-top-seperator">|</em> 
                </li>
                <li>
                    <a href="/login">帮助中心</a><i class="iconfont" title="下三角形"></i>
                </li>
            </ul>
        </div>
    </div>
</header>