body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:208px;
  top:610px;
  width:32px;
  height:16px;
  font-family:'FontAwesome';
  font-size:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  visibility:hidden;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:390px;
  top:80px;
  width:320px;
  height:540px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:540px;
}
#u3 {
  position:absolute;
  left:2px;
  top:262px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:390px;
  top:80px;
  width:320px;
  height:40px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:420px;
  top:86px;
  width:29px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:459px;
  top:92px;
  width:200px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:396px;
  top:204px;
  width:300px;
  height:196px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:196px;
}
#u11 {
  position:absolute;
  left:2px;
  top:90px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:396px;
  top:204px;
  width:300px;
  height:80px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:81px;
}
#u13 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:466px;
  top:300px;
  width:214px;
  height:34px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:34px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:408px;
  top:292px;
  width:49px;
  height:49px;
  font-family:'FontAwesome';
  font-size:48px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:416px;
  top:307px;
  width:40px;
  height:12px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:12px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:12px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:424px;
  top:351px;
  width:280px;
  height:16px;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:410px;
  top:374px;
  width:10px;
  height:15px;
  font-family:'FontAwesome';
  font-size:14px;
  color:#666666;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:424px;
  top:374px;
  width:120px;
  height:14px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:14px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:408px;
  top:351px;
  width:15px;
  height:17px;
  font-family:'FontAwesome';
  font-size:16px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:398px;
  top:124px;
  width:300px;
  height:60px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u29 {
  position:absolute;
  left:15px;
  top:20px;
  width:283px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:390px;
  top:184px;
  width:320px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u31 {
  position:absolute;
  left:396px;
  top:410px;
  width:300px;
  height:196px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:196px;
}
#u32 {
  position:absolute;
  left:2px;
  top:90px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:396px;
  top:410px;
  width:300px;
  height:80px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:81px;
}
#u34 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:466px;
  top:506px;
  width:214px;
  height:34px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:34px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:408px;
  top:498px;
  width:49px;
  height:49px;
  font-family:'FontAwesome';
  font-size:48px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:416px;
  top:513px;
  width:40px;
  height:12px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:12px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:12px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:424px;
  top:557px;
  width:280px;
  height:16px;
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:410px;
  top:580px;
  width:10px;
  height:15px;
  font-family:'FontAwesome';
  font-size:14px;
  color:#666666;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:424px;
  top:580px;
  width:120px;
  height:14px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:14px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:408px;
  top:557px;
  width:15px;
  height:17px;
  font-family:'FontAwesome';
  font-size:16px;
  color:#666666;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:22px;
  top:21px;
  width:320px;
  height:480px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u50 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:22px;
  top:21px;
  width:320px;
  height:40px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:52px;
  top:27px;
  width:29px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:92px;
  top:33px;
  width:200px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:32px;
  top:221px;
  width:300px;
  height:70px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  text-align:left;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
}
#u58 {
  position:absolute;
  left:8px;
  top:28px;
  width:284px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:32px;
  top:95px;
  width:300px;
  height:126px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:127px;
}
#u60 {
  position:absolute;
  left:2px;
  top:44px;
  width:296px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:32px;
  top:181px;
  width:300px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u62 {
  position:absolute;
  left:8px;
  top:5px;
  width:284px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:268px;
  top:231px;
  width:55px;
  height:50px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:50px;
}
#u64 {
  position:absolute;
  left:2px;
  top:17px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:70px;
  top:461px;
  width:92px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u66 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:160px;
  top:461px;
  width:92px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u68 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:250px;
  top:461px;
  width:92px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:22px;
  top:461px;
  width:48px;
  height:40px;
  font-family:'FontAwesome';
  font-size:30px;
  color:#666666;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:32px;
  top:290px;
  width:300px;
  height:70px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  text-align:left;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
}
#u74 {
  position:absolute;
  left:8px;
  top:28px;
  width:284px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:268px;
  top:300px;
  width:55px;
  height:50px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:50px;
}
#u76 {
  position:absolute;
  left:2px;
  top:17px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:32px;
  top:359px;
  width:300px;
  height:52px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  text-align:left;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
}
#u78 {
  position:absolute;
  left:8px;
  top:19px;
  width:284px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:250px;
  top:421px;
  width:92px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u80 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:35px;
  top:520px;
  width:294px;
  height:156px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#FF6600;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:156px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:320px;
  top:380px;
  width:70px;
  height:80px;
}
#u83_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:54px;
  height:20px;
}
#u83_seg1 {
  position:absolute;
  left:30px;
  top:-10px;
  width:20px;
  height:100px;
}
#u83_seg2 {
  position:absolute;
  left:30px;
  top:70px;
  width:44px;
  height:20px;
}
#u84 {
  position:absolute;
  left:-10px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:32px;
  top:686px;
  width:320px;
  height:480px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u86 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:42px;
  top:820px;
  width:300px;
  height:236px;
  font-family:'Heiti SC Light', 'Heiti SC';
  text-align:left;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:236px;
}
#u88 {
  position:absolute;
  left:8px;
  top:10px;
  width:284px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:260px;
  top:1086px;
  width:93px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u90 {
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:32px;
  top:686px;
  width:320px;
  height:40px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u92 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:62px;
  top:692px;
  width:29px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:101px;
  top:698px;
  width:200px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:78px;
  top:1126px;
  width:92px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u98 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:170px;
  top:1126px;
  width:92px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u100 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:260px;
  top:1126px;
  width:92px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u102 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:32px;
  top:1126px;
  width:48px;
  height:40px;
  font-family:'FontAwesome';
  font-size:30px;
  color:#666666;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u104 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:260px;
  top:1086px;
  width:93px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u106 {
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:592px;
  top:133px;
  width:104px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u108 {
  position:absolute;
  left:5px;
  top:13px;
  width:94px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:592px;
  top:173px;
  width:104px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#666666;
  text-align:left;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u110 {
  position:absolute;
  left:5px;
  top:14px;
  width:94px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:780px;
  top:80px;
  width:320px;
  height:540px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:540px;
}
#u112 {
  position:absolute;
  left:2px;
  top:262px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:780px;
  top:80px;
  width:320px;
  height:40px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u114 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:810px;
  top:86px;
  width:29px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:849px;
  top:92px;
  width:200px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:780px;
  top:120px;
  width:320px;
  height:64px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u120 {
  position:absolute;
  left:15px;
  top:22px;
  width:303px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:848px;
  top:312px;
  width:201px;
  height:21px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:21px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:852px;
  top:360px;
  width:172px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:40px;
}
#u124 {
  position:absolute;
  left:2px;
  top:12px;
  width:168px;
  word-wrap:break-word;
}
