body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:160px;
  top:230px;
  width:100px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:160px;
  top:320px;
  width:100px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:185px;
  top:60px;
  width:50px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:61px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:210px;
  top:270px;
  width:0px;
  height:50px;
}
#u6_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u7 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:290px;
  top:400px;
  width:100px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:260px;
  top:340px;
  width:270px;
  height:0px;
}
#u10_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:284px;
  height:20px;
}
#u11 {
  position:absolute;
  left:85px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:540px;
  top:320px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF0000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:210px;
  top:360px;
  width:130px;
  height:40px;
}
#u14_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:44px;
}
#u14_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:150px;
  height:20px;
}
#u14_seg2 {
  position:absolute;
  left:120px;
  top:20px;
  width:20px;
  height:24px;
}
#u15 {
  position:absolute;
  left:5px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:160px;
  top:400px;
  width:100px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:210px;
  top:360px;
  width:0px;
  height:40px;
}
#u18_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u19 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:390px;
  top:420px;
  width:140px;
  height:0px;
}
#u20_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:154px;
  height:20px;
}
#u21 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:540px;
  top:400px;
  width:200px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:160px;
  top:340px;
  width:0px;
  height:-90px;
}
#u24_seg0 {
  position:absolute;
  left:-20px;
  top:-10px;
  width:24px;
  height:20px;
}
#u24_seg1 {
  position:absolute;
  left:-20px;
  top:-100px;
  width:20px;
  height:110px;
}
#u24_seg2 {
  position:absolute;
  left:-20px;
  top:-100px;
  width:24px;
  height:20px;
}
#u25 {
  position:absolute;
  left:-60px;
  top:-53px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:145px;
  top:200px;
  width:65px;
  height:30px;
}
#u26_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u26_seg1 {
  position:absolute;
  left:-10px;
  top:10px;
  width:85px;
  height:20px;
}
#u26_seg2 {
  position:absolute;
  left:55px;
  top:10px;
  width:20px;
  height:24px;
}
#u27 {
  position:absolute;
  left:-22px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:155px;
  top:490px;
  width:110px;
  height:40px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:210px;
  top:440px;
  width:0px;
  height:50px;
}
#u30_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u31 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:340px;
  top:440px;
  width:-75px;
  height:70px;
}
#u32_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u32_seg1 {
  position:absolute;
  left:-79px;
  top:60px;
  width:89px;
  height:20px;
}
#u33 {
  position:absolute;
  left:-52px;
  top:62px;
  width:100px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:70px;
  top:12px;
  width:240px;
  height:20px;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:21px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:95px;
  top:160px;
  width:100px;
  height:40px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:225px;
  top:160px;
  width:100px;
  height:40px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:275px;
  top:200px;
  width:-65px;
  height:30px;
}
#u40_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u40_seg1 {
  position:absolute;
  left:-75px;
  top:10px;
  width:85px;
  height:20px;
}
#u40_seg2 {
  position:absolute;
  left:-75px;
  top:10px;
  width:20px;
  height:24px;
}
#u41 {
  position:absolute;
  left:-78px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:210px;
  top:120px;
  width:-65px;
  height:40px;
}
#u42_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:44px;
}
#u42_seg1 {
  position:absolute;
  left:-75px;
  top:20px;
  width:85px;
  height:20px;
}
#u42_seg2 {
  position:absolute;
  left:-75px;
  top:20px;
  width:20px;
  height:24px;
}
#u43 {
  position:absolute;
  left:-72px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:210px;
  top:120px;
  width:65px;
  height:40px;
}
#u44_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:44px;
}
#u44_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:85px;
  height:20px;
}
#u44_seg2 {
  position:absolute;
  left:55px;
  top:20px;
  width:20px;
  height:24px;
}
#u45 {
  position:absolute;
  left:-28px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
