body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:320px;
  height:40px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:89px;
  top:32px;
  width:200px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:26px;
  width:29px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:45px;
  top:130px;
  width:270px;
  height:89px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:89px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:47px;
  top:309px;
  width:265px;
  height:41px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#BD6600;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:41px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u10_img.disabled {
}
#u10.disabled {
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:56px;
  top:127px;
  width:23px;
  height:26px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#666666;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:430px;
  top:20px;
  width:320px;
  height:480px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u15 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:430px;
  top:20px;
  width:320px;
  height:40px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:499px;
  top:32px;
  width:200px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:460px;
  top:26px;
  width:29px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:455px;
  top:130px;
  width:270px;
  height:89px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:89px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:457px;
  top:309px;
  width:265px;
  height:41px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#BD6600;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:41px;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u24_img.disabled {
}
#u24.disabled {
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:466px;
  top:127px;
  width:23px;
  height:26px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:860px;
  top:20px;
  width:320px;
  height:480px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u29 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:860px;
  top:20px;
  width:320px;
  height:40px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:929px;
  top:32px;
  width:200px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:890px;
  top:26px;
  width:29px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:885px;
  top:130px;
  width:270px;
  height:89px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:89px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:887px;
  top:309px;
  width:265px;
  height:41px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#BD6600;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:41px;
}
#u38_img.mouseOver {
}
#u38.mouseOver {
}
#u38_img.disabled {
}
#u38.disabled {
}
#u39 {
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:896px;
  top:127px;
  width:23px;
  height:26px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#666666;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:20px;
  top:560px;
  width:320px;
  height:480px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u43 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:20px;
  top:560px;
  width:320px;
  height:40px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u45 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:89px;
  top:572px;
  width:200px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:50px;
  top:566px;
  width:29px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:45px;
  top:670px;
  width:270px;
  height:89px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:89px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:47px;
  top:849px;
  width:265px;
  height:41px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#BD6600;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:41px;
}
#u52_img.mouseOver {
}
#u52.mouseOver {
}
#u52_img.disabled {
}
#u52.disabled {
}
#u53 {
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:56px;
  top:667px;
  width:23px;
  height:26px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#666666;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:80px;
  top:1070px;
  width:200px;
  height:58px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:58px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
