body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:0px;
  width:630px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:76px;
  top:31px;
  width:253px;
  height:37px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:70px;
  top:110px;
  width:160px;
  height:420px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:420px;
}
#u5 {
  position:absolute;
  left:2px;
  top:202px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:76px;
  top:178px;
  width:144px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:96px;
  top:131px;
  width:113px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:99px;
  top:186px;
  width:113px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:13px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:76px;
  top:290px;
  width:144px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:76px;
  top:400px;
  width:144px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:76px;
  top:218px;
  width:144px;
  height:62px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:62px;
}
#u17 {
  position:absolute;
  left:2px;
  top:23px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:99px;
  top:228px;
  width:92px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:13px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:99px;
  top:251px;
  width:92px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:13px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:76px;
  top:328px;
  width:144px;
  height:62px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:62px;
}
#u23 {
  position:absolute;
  left:2px;
  top:23px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:104px;
  top:340px;
  width:79px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:104px;
  top:363px;
  width:79px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:76px;
  top:440px;
  width:144px;
  height:62px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:62px;
}
#u29 {
  position:absolute;
  left:2px;
  top:23px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:108px;
  top:457px;
  width:79px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:209px;
  top:140px;
  width:200px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u33 {
  position:absolute;
  left:409px;
  top:140px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:191px;
  top:228px;
  width:200px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u36 {
  position:absolute;
  left:391px;
  top:225px;
  width:121px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
