body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:27px;
  width:310px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:98px;
  top:169px;
  width:142px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:31px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:98px;
  top:169px;
  width:142px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
