body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:11px;
  top:610px;
  width:750px;
  height:70px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:70px;
}
#u1 {
  position:absolute;
  left:2px;
  top:27px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:860px;
  top:147px;
  width:70px;
  height:16px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:50px;
  width:210px;
  height:25px;
  font-size:18px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u5 {
  position:absolute;
  left:0px;
  top:2px;
  width:210px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:75px;
  width:900px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:883px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:900px;
  height:1px;
}
#u7 {
  position:absolute;
  left:1090px;
  top:147px;
  width:100px;
  height:16px;
}
#u8 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u7_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9 {
  position:absolute;
  left:950px;
  top:147px;
  width:100px;
  height:16px;
}
#u10 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11 {
  position:absolute;
  left:860px;
  top:197px;
  width:70px;
  height:16px;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:950px;
  top:197px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u14 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15 {
  position:absolute;
  left:1090px;
  top:197px;
  width:100px;
  height:16px;
}
#u16 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u15_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17 {
  position:absolute;
  left:1230px;
  top:197px;
  width:100px;
  height:16px;
}
#u18 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19 {
  position:absolute;
  left:1370px;
  top:197px;
  width:100px;
  height:16px;
}
#u20 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21 {
  position:absolute;
  left:1510px;
  top:197px;
  width:100px;
  height:16px;
}
#u22 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23 {
  position:absolute;
  left:950px;
  top:247px;
  width:100px;
  height:16px;
}
#u24 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25 {
  position:absolute;
  left:1090px;
  top:247px;
  width:100px;
  height:16px;
}
#u26 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u25_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u27 {
  position:absolute;
  left:1230px;
  top:247px;
  width:100px;
  height:16px;
}
#u28 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u27_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29 {
  position:absolute;
  left:1370px;
  top:247px;
  width:100px;
  height:16px;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:1510px;
  top:247px;
  width:100px;
  height:16px;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:950px;
  top:297px;
  width:100px;
  height:16px;
}
#u34 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u33_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35 {
  position:absolute;
  left:30px;
  top:144px;
  width:70px;
  height:16px;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:235px;
  top:144px;
  width:100px;
  height:16px;
}
#u38 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u37_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u39 {
  position:absolute;
  left:125px;
  top:144px;
  width:100px;
  height:16px;
}
#u40 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u39_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u41 {
  position:absolute;
  left:30px;
  top:194px;
  width:70px;
  height:16px;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:120px;
  top:188px;
  width:200px;
  height:22px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u44 {
  position:absolute;
  left:30px;
  top:244px;
  width:70px;
  height:16px;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:120px;
  top:235px;
  width:200px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u47 {
  position:absolute;
  left:420px;
  top:235px;
  width:200px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u48 {
  position:absolute;
  left:350px;
  top:244px;
  width:70px;
  height:16px;
  text-align:left;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:30px;
  top:574px;
  width:70px;
  height:16px;
  text-align:left;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:120px;
  top:574px;
  width:100px;
  height:16px;
}
#u53 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u52_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u54 {
  position:absolute;
  left:260px;
  top:574px;
  width:100px;
  height:16px;
}
#u55 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u54_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u56 {
  position:absolute;
  left:30px;
  top:634px;
  width:70px;
  height:16px;
  text-align:left;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:120px;
  top:625px;
  width:200px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59 {
  position:absolute;
  left:320px;
  top:634px;
  width:80px;
  height:16px;
  color:#FF0000;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:30px;
  top:430px;
  width:70px;
  height:16px;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:120px;
  top:430px;
  width:400px;
  height:100px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:100px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64 {
  position:absolute;
  left:120px;
  top:530px;
  width:170px;
  height:16px;
  color:#FF0000;
  text-align:left;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:20px;
  top:724px;
  width:60px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u67 {
  position:absolute;
  left:1230px;
  top:138px;
  width:200px;
  height:25px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u68 {
  position:absolute;
  left:1430px;
  top:141px;
  width:24px;
  height:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:130px;
  top:860px;
  width:340px;
  height:250px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:250px;
}
#u71 {
  position:absolute;
  left:2px;
  top:117px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:30px;
  top:1060px;
  width:70px;
  height:32px;
  text-align:left;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:170px;
  top:1060px;
  width:100px;
  height:25px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u75 {
  position:absolute;
  left:340px;
  top:1060px;
  width:100px;
  height:25px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u76 {
  position:absolute;
  left:170px;
  top:895px;
  width:240px;
  height:140px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:140px;
}
#u77 {
  position:absolute;
  left:2px;
  top:62px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:215px;
  top:932px;
  width:150px;
  height:66px;
  text-align:left;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:66px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:130px;
  top:1170px;
  width:340px;
  height:250px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:250px;
}
#u81 {
  position:absolute;
  left:2px;
  top:117px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:175px;
  top:1212px;
  width:250px;
  height:165px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:165px;
}
#u83 {
  position:absolute;
  left:2px;
  top:74px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:560px;
  top:1168px;
  width:340px;
  height:250px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:250px;
}
#u85 {
  position:absolute;
  left:2px;
  top:117px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:600px;
  top:1203px;
  width:240px;
  height:140px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:140px;
}
#u87 {
  position:absolute;
  left:2px;
  top:62px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:610px;
  top:1237px;
  width:210px;
  height:66px;
  font-size:28px;
  text-align:left;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:66px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:195px;
  top:1246px;
  width:210px;
  height:66px;
  font-size:28px;
  text-align:left;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:66px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:872px;
  top:1148px;
  width:48px;
  height:48px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u93 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:875px;
  top:1151px;
  width:42px;
  height:42px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u95 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:442px;
  top:1150px;
  width:48px;
  height:48px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u97 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:445px;
  top:1153px;
  width:42px;
  height:42px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u99 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:30px;
  top:360px;
  width:70px;
  height:16px;
  text-align:left;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:120px;
  top:354px;
  width:110px;
  height:22px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u103 {
  position:absolute;
  left:550px;
  top:130px;
  width:434px;
  height:-35px;
}
#u103_seg0 {
  position:absolute;
  left:-10px;
  top:-45px;
  width:20px;
  height:49px;
}
#u103_seg1 {
  position:absolute;
  left:-10px;
  top:-45px;
  width:448px;
  height:20px;
}
#u104 {
  position:absolute;
  left:150px;
  top:-43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1000px;
  top:90px;
  width:134px;
  height:16px;
  text-align:left;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:120px;
  top:210px;
  width:220px;
  height:16px;
  color:#FF0000;
  text-align:left;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:120px;
  top:260px;
  width:240px;
  height:16px;
  color:#FF0000;
  text-align:left;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1210px;
  top:147px;
  width:100px;
  height:16px;
}
#u112 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u113 {
  position:absolute;
  left:1636px;
  top:144px;
  width:70px;
  height:16px;
  text-align:left;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1726px;
  top:144px;
  width:100px;
  height:16px;
}
#u116 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u115_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u117 {
  position:absolute;
  left:1866px;
  top:144px;
  width:100px;
  height:16px;
}
#u118 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u117_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u119 {
  position:absolute;
  left:2006px;
  top:135px;
  width:200px;
  height:25px;
}
#u119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u120 {
  position:absolute;
  left:2206px;
  top:138px;
  width:24px;
  height:20px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u121 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:1986px;
  top:144px;
  width:100px;
  height:16px;
}
#u123 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u124 {
  position:absolute;
  left:30px;
  top:303px;
  width:70px;
  height:16px;
  text-align:left;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:120px;
  top:294px;
  width:200px;
  height:25px;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u127 {
  position:absolute;
  left:420px;
  top:294px;
  width:200px;
  height:25px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u128 {
  position:absolute;
  left:350px;
  top:303px;
  width:70px;
  height:16px;
  text-align:left;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:120px;
  top:319px;
  width:240px;
  height:16px;
  color:#FF0000;
  text-align:left;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:396px;
  top:135px;
  width:200px;
  height:25px;
}
#u132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u133 {
  position:absolute;
  left:596px;
  top:138px;
  width:24px;
  height:20px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u134 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:376px;
  top:144px;
  width:100px;
  height:16px;
}
#u136 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u137 {
  position:absolute;
  left:442px;
  top:836px;
  width:48px;
  height:48px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u138 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:445px;
  top:839px;
  width:42px;
  height:42px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u140 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:50px;
  top:760px;
  width:70px;
  height:220px;
}
#u141_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:234px;
}
#u141_seg1 {
  position:absolute;
  left:-10px;
  top:210px;
  width:84px;
  height:20px;
}
#u142 {
  position:absolute;
  left:-50px;
  top:137px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
