<dl>
    <dt><i class="s-icon s-icon-mark icon-11100000"></i><span>商户管理</span><i class="s-icon icon-drop-arrow"></i></dt>
    <dd>
    <a href="#" >创建商户</a>
    <a href="#" >商户查询</a>
  </dd>
  </dl>
  <dl>
    <dt><i class="s-icon s-icon-mark icon-12100000"></i><span>优惠券管理</span><i class="s-icon icon-drop-arrow"></i></dt>
    <dd>
    <a href="#" >创建优惠券</a>
    <a href="#" >优惠券查询</a>
    <a href="#" >优惠券审核</a>
    <a href="" >现金券对账</a>
    <a href="#" >优惠券统计</a>
  </dd>
  </dl>
  <dl>
    <dt><i class="s-icon s-icon-mark icon-13100000"></i><span>活动管理</span><i class="s-icon icon-drop-arrow"></i></dt>
    <dd>
    <a href="#" >创建活动</a>
    <a href="#" >活动查询</a>
    <a href="#" >活动审核</a>
  </dd>
  </dl>
  <dl>
    <dt><i class="s-icon s-icon-mark icon-14100000"></i><span>停车券管理</span><i class="s-icon icon-drop-arrow"></i></dt>
    <dd>
    <a href="#" >创建停车券</a>
    <a href="#" >停车券查询</a>
    <a href="#" >停车券审核</a>
    <a href="#" >停车券统计</a>
  </dd>
  </dl>
  <dl>
    <dt><i class="s-icon s-icon-mark icon-15100000"></i><span>会员管理</span><i class="s-icon icon-drop-arrow"></i></dt>
    <dd>
    <a href="#" >会员查询</a>
  </dd>
  </dl>
  <dl>
    <dt><i class="s-icon s-icon-mark icon-16100000"></i><span>消息管理</span><i class="s-icon icon-drop-arrow"></i></dt>
    <dd>
    <a href="#" >公告消息</a>
  </dd>
  </dl>
  <dl>
    <dt><i class="s-icon s-icon-mark icon-17100000"></i><span>配置管理</span><i class="s-icon icon-drop-arrow"></i></dt>
    <dd>
    <a href="#" >数据配置</a>
  </dd>
  </dl>
  <dl>
    <dt><i class="s-icon s-icon-mark icon-18100000"></i><span>账号管理</span><i class="s-icon icon-drop-arrow"></i></dt>
    <dd>
    <a href="#" >商管列表</a>
    <a href="#" >商户列表</a>
    <a href="#" >角色列表</a>
  </dd>
  </dl>
