body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:80px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:81px;
}
#u2 {
  position:absolute;
  left:2px;
  top:32px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:225px;
  top:6px;
  width:10px;
  height:69px;
}
#u3_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u3_end {
  position:absolute;
  left:-5px;
  top:60px;
  width:20px;
  height:14px;
}
#u3_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:69px;
}
#u4 {
  position:absolute;
  left:245px;
  top:30px;
  width:255px;
  height:20px;
  font-size:28px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:21px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:19px;
  top:8px;
  width:191px;
  height:65px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:65px;
}
#u7 {
  position:absolute;
  left:2px;
  top:24px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:90px;
  width:160px;
  height:480px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:481px;
}
#u9 {
  position:absolute;
  left:2px;
  top:232px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:11px;
  top:100px;
  width:138px;
  height:145px;
}
#u10_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u12 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12_img.selected {
}
#u12.selected {
}
#u13 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u15 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:42px;
  top:0px;
  width:71px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u17 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u11_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18 {
  position:absolute;
  left:20px;
  top:20px;
  width:113px;
  height:20px;
}
#u19 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u20 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:42px;
  top:0px;
  width:71px;
  height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u22 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:20px;
  top:40px;
  width:100px;
  height:20px;
}
#u24 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:42px;
  top:0px;
  width:58px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u27 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:20px;
  top:60px;
  width:113px;
  height:20px;
}
#u29 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u30 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:42px;
  top:0px;
  width:71px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u32 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:20px;
}
#u34 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u34_img.selected {
}
#u34.selected {
}
#u35 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u37 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:42px;
  top:0px;
  width:58px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u39 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u33_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40 {
  position:absolute;
  left:20px;
  top:20px;
  width:100px;
  height:20px;
}
#u41 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u42 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:42px;
  top:0px;
  width:58px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u44 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:20px;
  top:40px;
  width:100px;
  height:20px;
}
#u46 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u47 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:42px;
  top:0px;
  width:58px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u49 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:650px;
  top:30px;
  width:180px;
  height:20px;
  font-size:14px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:21px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u50_ann {
  position:absolute;
  left:823px;
  top:26px;
  width:1px;
  height:1px;
}
#u52 {
  position:absolute;
  left:950px;
  top:28px;
  width:70px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u53 {
  position:absolute;
  left:850px;
  top:30px;
  width:90px;
  height:20px;
  font-size:14px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u53_ann {
  position:absolute;
  left:933px;
  top:26px;
  width:1px;
  height:1px;
}
#u55 {
  position:absolute;
  left:190px;
  top:130px;
  width:830px;
  height:440px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:441px;
}
#u56 {
  position:absolute;
  left:2px;
  top:212px;
  width:826px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:190px;
  top:90px;
  width:830px;
  height:40px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:41px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:826px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:200px;
  top:99px;
  width:220px;
  height:25px;
  font-size:18px;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:26px;
}
#u60 {
  position:absolute;
  left:0px;
  top:2px;
  width:220px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:410px;
  top:230px;
  width:102px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  text-align:right;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:510px;
  top:228px;
  width:200px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64 {
  position:absolute;
  left:421px;
  top:272px;
  width:89px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  text-align:right;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:510px;
  top:270px;
  width:200px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67 {
  position:absolute;
  left:410px;
  top:317px;
  width:100px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  text-align:right;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:510px;
  top:315px;
  width:200px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70 {
  position:absolute;
  left:510px;
  top:405px;
  width:100px;
  height:25px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
