<% include ../../common/header.ejs %>
<link rel="stylesheet" href="<%=staticUrl%>/static/css/padmin/parking/manage.css"></head>
<body class="parking-manage">
<% include ../../common/h5-header.ejs %>
<% include ../../common/header_menu.ejs %>
    <div id="wrap">
        <div id="main" class="clearfix">
            <div id="content" class="content">
                <div class="ui-grid-row">
                    <div class="ui-grid-5 asidenav"><%include ../includes/sidebar.ejs%></div>
                    <div class="ui-grid-20">
                        <div class="main">
                            <div class="ui-block ui-block-title">
                                <div class="ui-title ui-title-line fn-clear">
                                    <h3>停车券管理</h3>
                                </div>
                            </div>
                            <div class="m-tab1">
                                <a href="#" class="on">已通过审核</a>
                                <a href="#">未通过审核</a>
                            </div>
                            <div class="search-code">
                                <form method="get" action="validlist.j">
                                        <div class="search-code">
                                            创建人：
                                            <input placeholder="创建人" class="ui-input ui-input-large" type="text" value="" name="createName">
                                                有效日期:
                                            <input value="" id="jStartTime" name="createTimeStart" class="ui-input ui-input-large" type="text">
                                            --
                                            <input value="" id="jEndTime" name="createTimeEnd" class="ui-input ui-input-large" type="text">
                                            状态:
                                            <select id="qstate" name="status">
                                                <option value="0" selected>全部</option>
                                                <option value="1" >待上架</option>
                                                <option value="2" >已上架</option>
                                                <option value="3" >已生效</option>
                                                <option value="4" >已下架</option>
                                                <option value="5" >已失效</option>
                                            </select>
                                            <input type="submit" class="ui-button ui-button-lorange" value="查询" />
                                        </div>
                                    </form>
                            </div>
                            <table class="ui-table" id="tblList">
                                <thead>
                                    <tr>
                                        <th >序号</th>
                                        <th>活动主题</th>
                                        <th>日期区间</th>
                                        <th>有效时间</th>
                                        <th>创建人</th>
                                        <th>创建日期</th>
                                        <th>状态</th>
                                        <th class="hand">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><a href="#" target="_blank">开业期间会员免费停车</a></td>
                                        <td>2014-4-1 - 2014-4-1</td>
                                        <td>8:00 - 18:00</td>
                                        <td>何建磊</td>
                                        <td>2014-04-01</td>
                                        <td>待生效</td>
                                        <td class="hand hand6 "><a class="ui-button ui-button-sorange J_review" href="#" >查看</a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- //分页 -->
                            <div class="pager">
                                <% include ../../common/pager.ejs %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ../../common/script_footer.ejs %>
<script src="<%=staticUrl%>/static/js/padmin/parking/manage.js"></script>
<% include ../../common/footer.ejs %>