body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:986px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:57px;
  top:450px;
  width:92px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:148px;
  top:450px;
  width:92px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:238px;
  top:450px;
  width:92px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:40px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:16px;
  width:29px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:79px;
  top:22px;
  width:200px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:450px;
  width:48px;
  height:40px;
  font-family:'FontAwesome';
  font-size:30px;
  color:#666666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:57px;
  top:296px;
  width:91px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:87px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:57px;
  top:335px;
  width:91px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:87px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:57px;
  top:374px;
  width:91px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:87px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:57px;
  top:412px;
  width:91px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:87px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:148px;
  top:337px;
  width:92px;
  height:37px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:148px;
  top:373px;
  width:92px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:148px;
  top:412px;
  width:92px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:240px;
  top:334px;
  width:93px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:240px;
  top:373px;
  width:93px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:240px;
  top:412px;
  width:93px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:340px;
  top:370px;
  width:250px;
  height:30px;
}
#u36_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:74px;
  height:20px;
}
#u36_seg1 {
  position:absolute;
  left:50px;
  top:-10px;
  width:20px;
  height:50px;
}
#u36_seg2 {
  position:absolute;
  left:50px;
  top:20px;
  width:204px;
  height:20px;
}
#u37 {
  position:absolute;
  left:60px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:333px;
  top:294px;
  width:10px;
  height:157px;
}
#u38_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u38_end {
  position:absolute;
  left:-5px;
  top:140px;
  width:20px;
  height:18px;
}
#u38_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:157px;
}
#u39 {
  position:absolute;
  left:420px;
  top:354px;
  width:163px;
  height:38px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:38px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:666px;
  top:0px;
  width:320px;
  height:480px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u42 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:713px;
  top:440px;
  width:273px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:666px;
  top:440px;
  width:48px;
  height:40px;
  font-family:'FontAwesome';
  font-size:30px;
  color:#666666;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:955px;
  top:445px;
  width:25px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#999999;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:725px;
  top:450px;
  width:17px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'FontAwesome';
  font-size:20px;
  color:#999999;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:744px;
  top:445px;
  width:207px;
  height:28px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:28px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:928px;
  top:450px;
  width:18px;
  height:20px;
  font-family:'FontAwesome';
  font-size:20px;
  color:#999999;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:679px;
  top:326px;
  width:40px;
  height:40px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:776px;
  top:50px;
  width:90px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:732px;
  top:326px;
  width:248px;
  height:88px;
  font-family:'Heiti SC Light', 'Heiti SC';
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:88px;
}
#u60 {
  position:absolute;
  left:8px;
  top:14px;
  width:232px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:724px;
  top:336px;
  width:10px;
  height:14px;
}
#u61_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:11px;
  height:14px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:676px;
  top:212px;
  width:40px;
  height:40px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:728px;
  top:212px;
  width:248px;
  height:88px;
  font-family:'Heiti SC Light', 'Heiti SC';
  text-align:left;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:88px;
}
#u66 {
  position:absolute;
  left:8px;
  top:14px;
  width:232px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:720px;
  top:222px;
  width:10px;
  height:14px;
}
#u67_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:11px;
  height:14px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:676px;
  top:114px;
  width:40px;
  height:40px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:728px;
  top:114px;
  width:248px;
  height:88px;
  font-family:'Heiti SC Light', 'Heiti SC';
  text-align:left;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:88px;
}
#u72 {
  position:absolute;
  left:8px;
  top:14px;
  width:232px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:720px;
  top:124px;
  width:10px;
  height:14px;
}
#u73_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:11px;
  height:14px;
}
#u74 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
