<% include ../../common/header.ejs %>
<link rel="stylesheet" href="<%=staticUrl%>/static/css/badmin/accountmanage/password.css">
</head>
<body class="accountmanage-password">
<% include ../../common/h5-header.ejs %>
<% include ../../common/header_menu.ejs %>
    <div id="wrap">
    	<div id="main" class="clearfix">
            <div id="content" class="content">
                <div class="ui-grid-row">
                    <div class="ui-grid-5 asidenav">
                        <%include ../includes/sidebar.ejs%>
                    </div>
                    <div class="ui-grid-20">
                        <div class="main">
                            <div class="ui-block ui-block-title">
                                <div class="ui-title ui-title-line fn-clear">
                                    <h3>密码修改</h3>
                                </div>
                            </div>
                            <form class="ui-form" name="" method="post" action="" id="frmStorePassword">
                                <fieldset>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                            <span class="ui-form-required">*</span>旧密码
                                        </label>
                                        <input class="ui-input" type="password" id="txtPassword" name="" placeholder="填写旧密码">
                                        <div class="ui-form-explain">旧密码为必填字段。</div>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                            <span class="ui-form-required">*</span>新密码
                                        </label>
                                        <input class="ui-input" type="password" id="txtNewPassword" name="" placeholder="填写新密码">
                                        <div class="ui-form-explain">新密码为必填字段。</div>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                            <span class="ui-form-required">*</span>再次输入新密码
                                        </label>
                                        <input class="ui-input" type="password" id="txtNewConfirmPassword" name="" placeholder="填写再次输入新密码">
                                        <div class="ui-form-explain">再次输入新密码为必填字段。</div>
                                    </div>
                                    <div class="ui-form-item">
                                        <input type="submit" id="btnSave" class="ui-button ui-button-morange" value="确定">
                                        <div class="ui-form-explain"></div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
		</div>
	</div>
<% include ../../common/script_footer.ejs %>
<script src="<%=staticUrl%>/static/js/badmin/accountmanage/password.js"></script>
<% include ../../common/footer.ejs %>