<!DOCTYPE html>
<html>
  <head>
    <title>万江龙微信页面Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    li{list-style: none;}
    body{background: #34495e;font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,"Microsoft Yahei"}
    h1{color: #2ECC71;font-size: 30px;}
    a:link,a:visited{color: #ecf0f1; text-decoration: none;}
    li{font-size: 24px; line-height: 1.5}
    a:hover{position: relative;left: 2px;}
    dt{color: #f1c40f;font-size: 2em}
    dl{float: left;width: 250px}
    </style>
  </head>
  <body>
    <h1>万江龙微信页面Guide</h1>
    <% for(var cat in data) {%>
	   <dl>
	   		<dt><%= cat %></dt>
	   		<% for(var i = 0 ; i < data[cat].length ; i ++) {%>
	   			<dt><a href="/?level1=<%= cat %>&level2=<%= data[cat][i].level2 %>"><%= data[cat][i].level2 %></a></dt>
	   		<% } %>
	   </dl>
	<% } %>
    <script src="http://code.jquery.com/jquery.js"></script>
  </body>
</html>


	
