body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:25px;
  top:60px;
  width:320px;
  height:453px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:453px;
}
#u1 {
  position:absolute;
  left:2px;
  top:218px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:25px;
  top:20px;
  width:320px;
  height:40px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:94px;
  top:32px;
  width:200px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:55px;
  top:26px;
  width:29px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:49px;
  top:218px;
  width:13px;
  height:18px;
  overflow:hidden;
  visibility:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:49px;
  top:218px;
  width:269px;
  height:40px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:40px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u11 {
  position:absolute;
  left:49px;
  top:115px;
  width:286px;
  height:21px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:21px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:49px;
  top:152px;
  width:269px;
  height:66px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#999999;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:66px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:49px;
  top:290px;
  width:7px;
  height:18px;
  overflow:hidden;
  visibility:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:49px;
  top:290px;
  width:136px;
  height:40px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u18 {
  position:absolute;
  left:215px;
  top:290px;
  width:103px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:99px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:49px;
  top:356px;
  width:280px;
  height:41px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#BD6600;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:41px;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u20_img.disabled {
}
#u20.disabled {
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:276px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:446px;
  top:20px;
  width:320px;
  height:493px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:493px;
}
#u23 {
  position:absolute;
  left:2px;
  top:238px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:446px;
  top:20px;
  width:320px;
  height:40px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:515px;
  top:32px;
  width:200px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:476px;
  top:26px;
  width:29px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:471px;
  top:98px;
  width:270px;
  height:136px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:136px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:476px;
  top:80px;
  width:29px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#333333;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:31px;
  top:547px;
  width:169px;
  height:202px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:202px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:49px;
  top:267px;
  width:200px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#CC0000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:13px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:31px;
  top:693px;
  width:103px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:14px;
  width:99px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:31px;
  top:743px;
  width:103px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:14px;
  width:99px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:31px;
  top:837px;
  width:169px;
  height:85px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:85px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:446px;
  top:547px;
  width:320px;
  height:480px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u45 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:446px;
  top:547px;
  width:320px;
  height:40px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:515px;
  top:559px;
  width:200px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:476px;
  top:553px;
  width:29px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:471px;
  top:657px;
  width:270px;
  height:89px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:89px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:473px;
  top:836px;
  width:265px;
  height:41px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#BD6600;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:41px;
}
#u54_img.mouseOver {
}
#u54.mouseOver {
}
#u54_img.disabled {
}
#u54.disabled {
}
#u55 {
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:217px;
  top:420px;
  width:112px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#0099FF;
  text-align:right;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:13px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:42px;
  top:421px;
  width:152px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#999999;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:13px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:43px;
  top:139px;
  width:292px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u61 {
  position:absolute;
  left:349px;
  top:2299px;
  width:243px;
  height:399px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:399px;
}
#u62 {
  position:absolute;
  left:2px;
  top:192px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:349px;
  top:2332px;
  width:243px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:16px;
}
#u64 {
  position:absolute;
  left:2px;
  top:0px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:349px;
  top:2317px;
  width:243px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:16px;
}
#u66 {
  position:absolute;
  left:2px;
  top:0px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:348px;
  top:2299px;
  width:245px;
  height:31px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:31px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:468px;
  top:244px;
  width:71px;
  height:70px;
  color:#666666;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:70px;
}
#u70 {
  position:absolute;
  left:2px;
  top:16px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:538px;
  top:244px;
  width:68px;
  height:70px;
  color:#666666;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:70px;
}
#u72 {
  position:absolute;
  left:2px;
  top:16px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:606px;
  top:244px;
  width:71px;
  height:70px;
  color:#666666;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:70px;
}
#u74 {
  position:absolute;
  left:2px;
  top:16px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:676px;
  top:244px;
  width:68px;
  height:70px;
  color:#666666;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:70px;
}
#u76 {
  position:absolute;
  left:2px;
  top:16px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:468px;
  top:114px;
  width:276px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:259px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:276px;
  height:1px;
}
#u78 {
  position:absolute;
  left:515px;
  top:84px;
  width:200px;
  height:19px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:18px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:329px;
  top:376px;
  width:80px;
  height:0px;
}
#u80_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u81 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:482px;
  top:654px;
  width:23px;
  height:26px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#666666;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:475px;
  top:854px;
  width:-203px;
  height:-327px;
}
#u84_seg0 {
  position:absolute;
  left:-213px;
  top:-10px;
  width:217px;
  height:20px;
}
#u84_seg1 {
  position:absolute;
  left:-213px;
  top:-331px;
  width:20px;
  height:341px;
}
#u85 {
  position:absolute;
  left:-253px;
  top:-70px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:740px;
  top:27px;
  width:7px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:29px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:465px;
  top:336px;
  width:279px;
  height:44px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:44px;
}
#u89 {
  position:absolute;
  left:2px;
  top:14px;
  width:275px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:860px;
  top:26px;
  width:320px;
  height:493px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:493px;
}
#u91 {
  position:absolute;
  left:2px;
  top:238px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:860px;
  top:26px;
  width:320px;
  height:40px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u93 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:890px;
  top:32px;
  width:29px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:880px;
  top:143px;
  width:276px;
  height:10px;
}
#u96_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_end {
  position:absolute;
  left:259px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_line {
  position:absolute;
  left:0px;
  top:5px;
  width:276px;
  height:1px;
}
#u97 {
  position:absolute;
  left:880px;
  top:114px;
  width:282px;
  height:19px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:18px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:19px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1154px;
  top:33px;
  width:7px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:29px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:880px;
  top:232px;
  width:270px;
  height:127px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:127px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:880px;
  top:158px;
  width:200px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:13px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1011px;
  top:176px;
  width:17px;
  height:10px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u106 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:880px;
  top:185px;
  width:192px;
  height:31px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
}
#u108 {
  position:absolute;
  left:2px;
  top:9px;
  width:188px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:871px;
  top:71px;
  width:300px;
  height:33px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:744px;
  top:358px;
  width:80px;
  height:0px;
}
#u111_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u112 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
