body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:490px;
  top:420px;
  width:160px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:306px;
  top:70px;
  width:64px;
  height:64px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:288px;
  top:190px;
  width:100px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:340px;
  top:140px;
  width:-2px;
  height:50px;
}
#u6_seg0 {
  position:absolute;
  left:-12px;
  top:-10px;
  width:16px;
  height:20px;
}
#u6_seg1 {
  position:absolute;
  left:-12px;
  top:-10px;
  width:20px;
  height:64px;
}
#u7 {
  position:absolute;
  left:-52px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:288px;
  top:300px;
  width:100px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:338px;
  top:250px;
  width:0px;
  height:50px;
}
#u10_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u11 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:288px;
  top:330px;
  width:-179px;
  height:80px;
}
#u12_seg0 {
  position:absolute;
  left:-189px;
  top:-10px;
  width:193px;
  height:20px;
}
#u12_seg1 {
  position:absolute;
  left:-189px;
  top:-10px;
  width:20px;
  height:94px;
}
#u13 {
  position:absolute;
  left:-180px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:388px;
  top:330px;
  width:178px;
  height:80px;
}
#u14_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:192px;
  height:20px;
}
#u14_seg1 {
  position:absolute;
  left:168px;
  top:-10px;
  width:20px;
  height:94px;
}
#u15 {
  position:absolute;
  left:79px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:80px;
  top:420px;
  width:66px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
