@import "static/css/variables.less";
.member-intedetail{
	.ui-block{
		h4{
			font-size: 16px;
			font-weight: bold;
			padding-bottom: 5px;
		}
	}
	.maxwidth600{max-width: 600px;}
	.c_progressbar{
		div{
			float: left;
			width: 400px;
			margin-right: 12px;
			height: 18px;
			background: red;
			span{
				float: left;
				float: left;
				height: 100%;
				background: blue;
			}
			a{
				float: left;
			}
		}
		span{
			margin-right: 12px;
		}
	}
	.ui-block-fortitle{
		margin-top: 20px;
	}
	.abc_detail{
		margin-top: 20px;
		margin-bottom: 20px;
		.leftfaceimg{
			float: left;
			width: 180px;
			height: 180px;
			border: 1px solid #666;
			img{
				width: 100%;
				height: 100%;
			}
		}
		.right-msg{
			float: left;
			width: 600px;
		}
	}
	.m-total{
	margin-top: 15px;
	}
	.ui-table {
        p{
            line-height: 30px;
        }
        b {
            width: 100px;
            .inline-block();
        }
        th{
            font-weight:bold;
        }
    }
    .hand{
        text-align:center;
    }
    
    .pager {
        margin-top: 40px;
        text-align: right;
    }
    .list-img{
        width: 130px;
        img{
            width: 160px;
            height: 120px;
        }

    }
}