body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:920px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:920px;
}
#u1 {
  position:absolute;
  left:2px;
  top:452px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:40px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:78px;
  top:22px;
  width:200px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:16px;
  width:29px;
  height:29px;
  font-family:'FontAwesome';
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:55px;
  width:300px;
  height:50px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u9 {
  position:absolute;
  left:15px;
  top:14px;
  width:283px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:110px;
  width:298px;
  height:140px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:140px;
}
#u11 {
  position:absolute;
  left:2px;
  top:62px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:30px;
  top:260px;
  width:10px;
  height:15px;
  font-family:'FontAwesome';
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:30px;
  top:282px;
  width:14px;
  height:14px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:50px;
  top:260px;
  width:200px;
  height:14px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:14px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:50px;
  top:286px;
  width:200px;
  height:14px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:14px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:30px;
  top:308px;
  width:15px;
  height:14px;
  font-family:'FontAwesome';
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:50px;
  top:308px;
  width:200px;
  height:14px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:14px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:30px;
  top:340px;
  width:270px;
  height:547px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:547px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:20px;
  top:95px;
  width:298px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:281px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:298px;
  height:1px;
}
